.search-form {
  grid-row: 1/2;
  grid-column: 2/-1;
  height: 32px;
  display: flex;
  align-items: center;
  padding-top: 54px;
}
.search-form .svg {
  width: 32px;
  height: 32px;
}
.search-form input {
  width: 320px;
  height: 32px;
  border: none;
  font-size: 14px;
  background-color: #10141e;
  color: #fff;
  font-size: 20px;
  outline: none;
  margin-left: 10px;
}
.search-form input:focus {
  border-bottom: 1px solid #5a698f;
  caret-color: #fc4747;
}
@media screen and (max-width: 1024px) {
  .search-form {
    grid-row: 2/3;
    grid-column: 1/-1;
    padding: 0;
  }
}
