.sidebar {
  width: 96px;
  height: 640px;
  background-color: #161d2f;
  margin-top: 22px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
.movie-logo {
  width: 32px;
  height: 25.6px;
  margin-top: 10px;
}

.icon-container {
  width: 20px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: -250px;
}
.avatar {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    margin: 0;
    width: 100%;
    margin: 0 auto;
    height: 72px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
  }
  .icon-container {
    flex-direction: row;
    width: 300px;
    margin: 0;
    height: 20px;
  }
  .avatar {
    margin: 0 20px 0 0;
  }
  .movie-logo {
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 625px) {
  .icon-container {
    width: 150px;
  }
}
